@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  /*display가 flex 속성으로 있을 때 가로축 기준으로 가운데*/
  align-items: center;
  /*display가 flex 속성으로 있을 때 세로축 기준으로 가운데*/
  font-family: "Nanum Pen Script", cursive;
  min-height: 100vh; /*웹 스크린 실제 크기의 100%를 최소 높이로 갖겠다*/
  margin: 0px; /*body에 기본적으로 있는 마진을 없애주겠음*/
}

@media (min-width: 650px) {
  /* media call : 괄호 안에 있는 모든 규칙들은 min-width 650px 
    -> 웹 브라우저의 크기가 650px 이상일 때만 이 규칙이 적용됨
  mix-width와 max-width 속성을 통해 화면의 너비에 따라 규칙 지정
  주로 반응형 웹 작성 시 사용 */
  .App {
    width: 640px;
    /* 화면이 650px 이상으로 넓을 때 app 컴포넌트의 width를 640px로 고정  */
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
    /* 화면이 650px 이하일 때 app 컴포넌트의 width를
    현재 화면 width의 90%로 설정 */
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* rgba에서 a는 transparency, 투명도 조절 */
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  /* 버튼 안에 있는 글자가 짤려서 두 줄이 되지 않도록 하는 기능 */

  font-family: "Nanum Pen Script", cursive;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* HEADER */
header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  /* HTML은 기본적으로 세로 정렬인데 가로 정렬이 됨 */
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  /* header의 바로 아래 자식 div */
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
  /* 해당 공간 왼쪽으로 오게 됨 */
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
  /* 해당 공간 오른쪽으로 오게 됨 */
}

header button {
  font-family: "Nanum Pen Script";
}

/* DiaryList */
.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  /* 메뉴 탭 한 줄로 */
  justify-content: space-between;
  /* div 간의 간격 */
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
  /* display-flex 부모 아래 남은 모든 넓이 차지
  일기 리스트 순서와 감정 필터가 차지하고 남은 모든 공간 차지 */
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  width: 50%;
}

.DiaryItem .info_wrapper {
  cursor: pointer;

  flex-grow: 1;
  margin-left: 20px;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */
/* .DiaryEditor {
} */

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  /* 그리드, 격자를 만드는 속성 */
  grid-template-columns: repeat(5, auto);
  /* 5개의 열을 나열을 하는데, 아이템의 사이즈는 자동으로 */
  gap: 2%;
  /* 이미지, 아이템 사이의 갭 */
}

.DiaryEditor textarea {
  font-family: "Nanum Pen Script";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  /* textarea 크기가 가로로는 더 이상 커지지 않도록 */

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 20px; 과 같음 */
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 세로축에서 중앙 맞춰주기 */
}

/* EmotionItem */
.EmotionItem {
  cursor: pointer;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  /* 기본적으로 세로로 배치되는 div 가로로 바꿔주기 */
  flex-direction: column;
  /* 근데 세로로 유지 -> 이미지 밑으로 이미지 설명 내려줌 */
  justify-content: center;
  /* column을 중심으로 세로의 중앙점 찾아주기 */
  align-items: center;
  /* 가장 중앙에 위치 */
}

.EmotionItem img {
  width: 50%;
  /* 이미지 크기가 너무 커서 줄여주기 */
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}
